---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout title="기술지원" lang="ko">
  <section class="py-10 mb-10 container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">기술지원 페이지</h1>
    <p>기술지원 관련 내용이 여기에 표시됩니다.</p>
  </section>
</BaseLayout>