---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout title="Technical Support" lang="en">
  <section class="py-10 mb-10 container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">Technical Support Page</h1>
    <p>Technical support content will be displayed here.</p>
  </section>
</BaseLayout>